<p ng-show="serverError">Server failure: Failed to change Recipe </p>

<h1 class="text-center">Detail View</h1>
<p class="text-center" ng-show="!editing"> Name: {{recipe.name}} </p>
<p class="text-center" ng-show="!editing"> Instructions: {{recipe.instructions}} </p>
<p class="text-center" ng-show="!editing" ng-repeat="ingredient in recipe.ingredient"> Ingredients: {{ingredient.name}} </p>

<form name="recipeForm" ng-show="editing" class="text-center" ng-submit="saveRecipe(recipe)">
	
	<div class="row container-fluid">
		<div class="col-lg-4">
	  		<label for="recipeName">Name: </label>
			<input id="recipeName" class="form-control recipe-input-width text-center" name="recipeName" type="text" ng-model="recipe.name" required/>
			<span ng-show="recipeForm.recipeName.$error.required && recipeForm.recipeName.$dirty">Name is required.</span>
	  	</div>
	  	<div class="col-lg-8">
	  		<label for="recipeInstructions">Instructions: </label>
			<textarea id="recipeInstructions" class="form-control recipe-input-width" rows="4" name="recipeInstructions" type="text" ng-model="recipe.instructions" required></textarea>
			<span ng-show="recipeForm.recipeInstructions.$error.required && recipeForm.recipeInstructions.$dirty">Instructions are required.</span>
		</div>
	</div>

	<div class="row container-fluid">
		<div class="col-lg-4">
			<label for="ingredients">Ingredients:</label>
			<select name="ingredients" class="form-control recipe-input-width" ng-model="recipe.ingredient" ng-options="ingredient.name for ingredient in ingredients | orderBy:'name'">
    			<option value="">Select Ingredient</option>
			</select>
			<span ng-show="ingredientError">No Ingredients added.</span>
			<span ng-show="ingredientError2">You must select an ingredient.</span>
			<button type="button" ng-click=(addIngredient(recipe.ingredient)) class="btn btn-primary center-block button-style">Add</button>
		</div>
		<div class="col-lg-8">
			<table class="table recipe-input-width">
				<tr>
					<td>Name</td>
					<td> Measurement: </td>
					<td> Remove: </td>
				</tr>
				<tr ng-repeat="ingredient in ingredientList">
					<td>{{ingredient.name}}</td>
					<td>{{ingredient.measure}}&nbsp;oz</td>
					<td><button type="button" class="btn btn-primary remove-btn btn-xs" ng-click="removeIngredient(ingredient)">Remove</button></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container-fluid">
		<div class="text-center">
			<button type="submit" class="btn btn-primary button-style button-margin">Save Recipe</button>
			<button type="button" ng-click="editing = !editing" class="btn btn-primary button-style button-margin">Cancel</button>
		</div>
	</div>
</form>

	<div class="container-fluid">
		<div class="text-center">
			<button type="button" class="btn btn-primary button-style button-margin" ng-show="!editing" ng-click="editing=!editing">Edit</button>
			<button type="button" class="btn btn-primary button-style button-margin" ng-show="!editing" ui-sref="recipeHome">Cancel</button>
			<button type="button" name="delete" class="btn btn-primary button-style button-margin" ng-show="!editing" ng-click="deleteRecipe(recipe.recipeId)">Delete</button>
		</div>
	</div>
